.container{
    justify-content: center;
    width: 100%;
}

.carBox{
    background-color: #374151;
    padding: 20px;
    margin: 20px;
    width: 500px;
    text-align: center;
    margin-left: 50%;
    transform:translateX(-50%);
    margin-top: 50px;
    /* padding-bottom: 50px; */
    color: white;
}


.backButton{
    display: block;
    width: fit-content;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0735ff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 50%;
    transform:translateX(-50%);
    margin-bottom: 50px;
}